skeleton/CGWork/.vs
# VSCode settings


# Build directories and files
skeleton/bin/
skeleton/obj/
skeleton/CGWork/Debug
skeleton/CGWork/Release

# User-specific Visual Studio settings
*.obj
*.user
*.userosscache
*.suo
*.userprefs
*.pdb
*.pch
*.log
*.ilk
*.tlog
*.ilk
*.ilk


# Logs and temporary files
*.log


# Windows-specific files
Thumbs.db

# JetBrains IDE files (if applicable)
.idea/
